.sv-header {
	background: linear-gradient(to bottom, #00256C 3%, #0038A3 23%, #0B5FFF 42%, #00A4FA 61%, #2EB7FFCC 74%, #FFFFFF80 94%);
}

.sv-table-content {
	width: 118rem;

	.sv-priority-summary {
		.sv-severity {
			background-color: rgb(192, 97, 97);
			border-radius: 0.25rem;
			font-size: 0.688rem;
			min-width: 3.125rem;
		}
	}

	.sv-name-link {
		text-decoration-line: none;
	}
}

