.cp-project-usage-page {
	.cp-project-usage-info-button {
		background: var(--status-info-lighten-2);
		border-radius: var(--border-radius-sm);
		height: var(--spacer-3);
		width: var(--spacer-3);
	}

	.d-grid {
		grid-gap: var(--spacer-3);
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}