[#assign currentURL = (themeDisplay.getURLCurrent()?keep_before("/home"))! /]
[#assign languageId = themeDisplay.getLanguageId() /]
[#assign isSignedIn = themeDisplay.isSignedIn() /]
[#assign hasProject = false /]
[#assign hasMultipleProjects = false /]

[#if isSignedIn]
	[#assign myUserAccountRaw = restClient.get("/headless-admin-user/v1.0/my-user-account")! /]

	[#if myUserAccountRaw?is_hash]
		[#assign myUserAccount = myUserAccountRaw]
	[/#if]

	[#if myUserAccount?? && myUserAccount.accountBriefs??]
		[#assign hasProject = (myUserAccount.accountBriefs?has_content)!false /]
			[#if hasProject]
				[#assign createdProjectsResponse = restClient.get("/c/koroneikiaccounts/?sort=dateCreated:desc")! /]
				[#assign createdProjects = createdProjectsResponse.items![] /]
				[#assign lastCreatedProject = createdProjects[0]!{} /]

				[#assign hasMultipleProjects = (myUserAccount.accountBriefs?size > 1)!false /]
				[#assign cookies = request.getCookies() /]

				[#assign lastViewedProject = ""]
				[#list cookies as cookie]
					[#if cookie.getName() == "lastViewedProject"]
						[#assign lastViewedProject = cookie.getValue()!""]
					[/#if]
				[/#list]

				[#assign selectedProjectReferenceCode = lastViewedProject?has_content?then(lastViewedProject, lastCreatedProject.externalReferenceCode) /]
				[#if selectedProjectReferenceCode?has_content]
					[#assign cardAccount = restClient.get("/c/koroneikiaccounts/by-external-reference-code/" + selectedProjectReferenceCode) /]
					[#assign status = ""]

					[#if cardAccount.slaCurrent?has_content && cardAccount.slaCurrent != ""]
						[#assign status = "active"]
					[#elseif cardAccount.slaFuture?has_content && cardAccount.slaFuture != ""]
						[#assign status = "future"]
					[#elseif cardAccount.slaExpired?has_content && cardAccount.slaExpired != ""]
						[#assign status = "expired"]
					[/#if]

					[#if status = "active"]
						[#assign slaProjectCardDate = cardAccount.slaCurrentEndDate!""]
					[#elseif status = "future"]
						[#assign slaProjectCardDate = cardAccount.slaFutureStartDate!""]
					[#elseif status = "expired"]
						[#assign slaProjectCardDate = cardAccount.slaExpiredEndDate!""]
					[/#if]

					[#assign parsedDate = slaProjectCardDate?datetime("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")!""]
				[/#if]

				[#assign projectsPath = currentURL + "/projects"]
				[#assign projectDetailsPath = currentURL + "/project/#/${lastViewedProject}"]
				[#assign projectEventsPath = currentURL + "/project/#/${lastViewedProject}/business-events"]
				[#assign projectMembersPath = currentURL + "/project/#/${lastViewedProject}/team-members"]
				[#assign projectKeysPath = currentURL + "/project/#/${lastViewedProject}/activation/dxp"]

				[#assign dxpSubscription = restClient.get("/c/accountsubscriptiongroups/by-external-reference-code/" + lastViewedProject + "_liferay-self-hosted") /]

				[#assign hasDXP = false]
				[#if dxpSubscription.hasActivation?? && dxpSubscription.activationProductName?? && dxpSubscription.hasActivation == true && dxpSubscription.activationProductName == "DXP"]
					[#assign hasDXP = true]
				[/#if]
			[/#if]
	[/#if]
	
	[#macro loggedHeaderCard]
		[#if hasMultipleProjects]
			[#assign titleKey = lastViewedProject?has_content?then("last-viewed-project", "last-created-project") /]
			
			<div class="d-flex mb-3 project-card-access project-card-primary-button">
				<h1 class="mr-3">${languageUtil.get(locale, titleKey)}</h1>
			
				<a href="${projectsPath}" class="btn btn-primary d-inline-flex align-items-center" role="button">
					${languageUtil.get(locale, "view-all")}
			
					<svg class="lexicon-icon lexicon-icon-order-arrow-right ml-2 my-0" role="presentation">
						<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#order-arrow-right" />
					</svg>
				</a>
			</div>
		[#else]
			<div class="d-flex mb-3 project-card-access">
				<h1 class="mr-3">${languageUtil.get(locale, "your-project")}</h1>
			</div>
		[/#if]
	[/#macro]

	[#macro loggedProjectCard]
		<div class="project-card-wrapper">
			<div class=" project-card-img">
				<div class="project-card-content">
					<div class="project-card-container">
						<div class="d-flex justify-content-between project-card-name-section">
							<div>
								<h1 class="product-title">${cardAccount.name}</h1>
		
								<div class="font-weight-semi-bold">${cardAccount.code}</div>
							</div>
		
							<div class="d-flex">
		
								[#if hasDXP]
								<div class="mr-2 project-card-button">
									<a href="${projectKeysPath}" class="btn btn-primary d-inline-flex align-items-center"
										role="button">
										<svg class="lexicon-icon lexicon-icon-check-circle mr-2 my-0" role="presentation">
											<use
												xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#check-circle" />
										</svg>
										${languageUtil.get(locale, "activations-keys")}
									</a>
								</div>
								[/#if]
		
								<div class="project-card-button">
									<a href="${projectMembersPath}" class="btn btn-primary d-inline-flex align-items-center"
										role="button">
										<svg class="lexicon-icon lexicon-icon-users mr-2 my-0" role="presentation">
											<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#users" />
										</svg>
		
										${languageUtil.get(locale, "team-members")}
									</a>
								</div>
		
								<div class="ml-2 project-card-button">
									<a href="${projectEventsPath}" class="btn btn-primary d-inline-flex align-items-center"
										role="button">
										<svg class="lexicon-icon lexicon-icon-date mr-2 my-0" role="presentation">
											<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#date" />
										</svg>
		
										${languageUtil.get(locale, "business-event")}
									</a>
								</div>
							</div>
						</div>
		
						<div class="project-card-status-container">
							<div class="status-${status} status-badge status-badge-${status}">
								<span class="status-dot"></span>
		
								${languageUtil.get(locale, status)}
							</div>
						</div>
		
						<div class="d-flex justify-content-between project-card-footer">
							<div>
								<div>
									[#if status == "active"]
									${languageUtil.get(locale, "ends-on")}: <b>${parsedDate?string("MMM dd, yyyy")}</b>
									[#elseif status == "future"]
									${languageUtil.get(locale, "starts-on")}: <b>${parsedDate?string("MMM dd, yyyy")}</b>
									[#elseif status == "expired"]
									${languageUtil.get(locale, "ended-on")}: <b>${parsedDate?string("MMM dd, yyyy")}</b>
									[/#if]
								</div>
		
								<div>${languageUtil.get(locale, "support-region")}: <b>${cardAccount.region}</b></div>
							</div>
		
							<div class="font-weight-bold project-details-button">
								<a href="${projectDetailsPath}" class="btn btn-unstyled d-inline-flex align-items-center"
									role="button">
									${languageUtil.get(locale, "see-project-details")}
		
									<svg class="lexicon-icon lexicon-icon-order-arrow-right ml-2 my-0" role="presentation">
										<use
											xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#order-arrow-right" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	[/#macro]
[#else]
	[#assign hasProject = false]
	[#assign hasMultipleProjects = false]
[/#if]

[#assign stateImage = isSignedIn?then("[resources:rocket.svg]", "[resources:user-site.svg]")]
[#assign stateMessage = isSignedIn?then("you-dont-have-any-projects-on-customer-portal",
"sign-in-to-access-the-customer-portal-features")]
[#assign stateButtonText = isSignedIn?then("contact-support", "sign-in")]
[#assign cardValidation = ((isSignedIn && !hasProject) || !isSignedIn)]

[#assign loginPath = isSignedIn?then("mailto:provisioning@liferay.com", currentURL + "/guest-login")]

[#macro baseProjectCard imageSource message buttonText]
	<div class="base-project-card-wrapper">
		<div class="base-project-card p-4">
			<div class="d-flex justify-content-center pb-4">
				<img class="customer-portal-img" src="${imageSource}" />
			</div>
			<div class="d-flex justify-content-center pb-4">
				${languageUtil.get(locale, message)}
			</div>
			<div class="d-flex justify-content-center">
				<a href="${loginPath}" class="btn btn-primary project-card-primary-button" role="button">
					${languageUtil.get(locale, buttonText)}
				</a>
			</div>
		</div>
	</div>
[/#macro]

[#if cardValidation]
	[@baseProjectCard imageSource=stateImage message=stateMessage buttonText=stateButtonText /]
[#else]
	<div class="project-card">
		[@loggedHeaderCard /]
		[@loggedProjectCard /]
	</div>	
[/#if]