<div class="h-100 liferay-one-service-card mx-auto p-1">
	<a class="card h-100 p-4 service-card text-decoration-none text-reset" href="${configuration.cardUrl}">
		[#if configuration.iconUrl?has_content]
			<img alt="" class="d-block service-card-icon" src="${configuration.iconUrl}" />
		[/#if]

		<h3 class="font-weight-bold h5 m-0" data-lfr-editable-id="heading" data-lfr-editable-type="text">
			Service
		</h3>

		<p class="m-0 small text-secondary" data-lfr-editable-id="description" data-lfr-editable-type="text">
			Description.
		</p>
	</a>
</div>