[#assign
	descriptionTile = configuration.descriptionTile
	titleTile = configuration.titleTile
]

<div class="tile-card-link">
	<div class="tile-card-wrapper">
		<div class="align-items-center d-flex flex-column p-4 tile-card-container">
			<div class="container-icon">
				<img class="img" data-lfr-editable-id="icon-img" data-lfr-editable-type="image" />
			</div>

			<div class="font-weight-bold pt-4 text-center tile-card-title">
				${titleTile}
			</div>

			<div class="text-center tile-card-subtitle">
				${descriptionTile}
			</div>
		</div>
	</div>
</div>